<div class="main-panel">
    <nav class="navbar navbar-transparent navbar-absolute">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                            <span class="notification">5</span>
                            <i class="fa fa-comment-o" aria-hidden="true">5</i>

                        </a>

                    </li>

                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group  is-empty">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="material-input"></span>
                    </div>
                    <button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <div class="ripple-container"></div>
                    </button>
                </form>
            </div>
        </div>
    </nav>
    <div class="content" ng-controller="User">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <br />
                    <div class="card">
                        <div class="card-header" data-background-color="blue">
                            <h4 class="title">Danh sách người dùng</h4>
                            <p class="category"></p>
                        </div>
                        <div class="card-content table-responsive">
                            <a href="#!Register">
                                <i class="fa fa-2x fa-address-book-o"  style="color: green" aria-hidden="true"></i>
                                <label>Thêm</label>
                            </a>
                            <table class="table table-hover">

                                <thead class="text-warning row">
                                <th class="col-md-1">Họ Tên</th>
                                <th class="col-md-3">User Name</th>
                                <th class="col-md-2">Ghi chú</th>
                                <th class="col-md-2">Khóa</th>
                                <th class="col-md-1">Sửa</th>
                                <th class="col-md-1">Xóa</th>
                                <th class="col-md-2">Phân quyền</th>
                                </thead>
                                <tbody>

                                    <tr ng-repeat="user in Users | startFrom: (currentPage-1)*pageSize | limitTo: pageSize" ng-model="Users">
                                        <td>{{user.Name}}</td>
                                        <td>{{user.Username}}</td>
                                        <td>{{user.Content}}</td>
                                        <td ng-if="user.Deleted==true">
                                            <a href="" ng-click="Block(user)">
                                                <i class="fa fa-times text-danger"></i>
                                            </a>
                                        </td>
                                        <td ng-if="user.Deleted!=true">
                                            <a href="" ng-click="Block(user)">
                                                <i class="fa fa-check text-success"></i>
                                            </a>
                                        </td>

                                        <td>
                                            <a href="" ng-click="editUser(user)">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="" ng-click="DeleteUser(user)">
                                                <i class="fa fa-times" style="color: red" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="">
                                                <i class="fa fa-address-book" style="color: green" aria-hidden="true" ng-click="PhanQuyen(user)"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br />
                        <div style="margin-left:20px;">
                            <ul uib-pagination total-items="Chapters.length" ng-model="currentPage" items-per-page="pageSize"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>