<div class="sidebar" data-color="blue" data-image="../Content/css/Images/sidebar-1.jpg" ng-controller="CheckDecentralization">
    <div class="logo">
        <a href="#!home" class="simple-text">
            Ngân Hàng Trắc Nghiệm
        </a>
        <div style="text-align: center">
            <label>
                Xin chào:
                {{username}}
            </label>
        </div>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav" ng-if="Admin==true" ng-model="Admin">
            <li>
                <a href="#!chapter">
                    <i class="fa fa-book" aria-hidden="true"></i> <b>Tạo đề thi</b>
                </a>
            </li>
            <li>
                <a href="#!ListQuestion">

                    <i class="fa fa-list-alt"></i> <b>Danh sách câu hỏi</b>
                </a>
            </li>
            <li>
                <a href="#!Dashboard">

                    <i class="fa fa-dashboard"></i> <b>Thống kê</b>
                </a>
            </li>
            <li>
                <a href="#!Faculties">
                    <i class="fa fa-table"></i><b>Danh Mục</b>
                </a>
            </li>
            <li>
                <a href="#!ListUser">
                    <i class="fa fa-table"></i><b>Phân Quyền</b>
                </a>
            </li>
            <li>
                <a href="" ng-click="Logout()">
                    <i class="fa fa-sign-out"></i><b>Đăng xuất</b>
                </a>
            </li>
        </ul>
        <ul class="nav" ng-if="Admin!=true" ng-model="Admin">
            <li>
                <a href="#!chapter">
                    <i class="fa fa-book" aria-hidden="true"></i> <b>Tạo đề thi</b>
                </a>
            </li>
            <li>
                <a href="#!ListQuestion">

                    <i class="fa fa-list-alt"></i> <b>Danh sách câu hỏi</b>
                </a>
            </li>
            <li ng-if="ThongKe==true" ng-model="ThongKe">
                <a href="#!Dashboard">

                    <i class="fa fa-dashboard"></i> <b>Thống kê</b>
                </a>
            </li>
            <li ng-if="DanhMuc==true" ng-model="DanhMuc">
                <a href="#!Faculties">
                    <i class="fa fa-table"></i><b>Danh Mục</b>
                </a>
            </li>
            <li ng-if="PhanQuyen==true" ng-model="PhanQuyen">
                <a href="#!ListUser">
                    <i class="fa fa-table"></i><b>Phân Quyền</b>
                </a>
            </li>
            <li>
                <a href="" ng-click="Logout()">
                    <i class="fa fa-sign-out"></i><b>Đăng xuất</b>
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="main">
    <div class="main-panel">
        <div class="content" ng-controller="User">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <br />
                        <div class="card">
                            <div class="card-header" data-background-color="blue">
                                <h4 class="title">Danh sách người dùng</h4>
                                <p class="category"></p>
                            </div>
                            <div class="card-content table-responsive">
                                <a href="#!Register">
                                    <i class="fa fa-2x fa-address-book-o" style="color: green" aria-hidden="true"></i>
                                    <label>Thêm</label>
                                </a>
                                <table class="table table-hover">

                                    <thead class="text-warning row">
                                    <th class="col-md-2">Họ Tên</th>
                                    <th class="col-md-3">User Name</th>
                                    <th class="col-md-2">Ghi chú</th>
                                    <th class="col-md-1">Khóa</th>
                                    <th class="col-md-1">sửa</th>
                                    <th class="col-md-1">xóa</th>
                                    <th class="col-md-2">Phân quyền</th>
                                    </thead>
                                    <tbody>

                                        <tr ng-repeat="user in Users | startFrom: (currentPage-1)*pageSize | limitTo: pageSize" ng-model="Users">
                                            <td>{{user.Name}}</td>
                                            <td>{{user.Username}}</td>
                                            <td>{{user.Content}}</td>
                                            <td ng-if="user.Deleted==true">
                                                <a href="" ng-click="Block(user)">
                                                    <i class="fa fa-times text-danger"></i>
                                                </a>
                                            </td>
                                            <td ng-if="user.Deleted!=true">
                                                <a href="" ng-click="Block(user)">
                                                    <i class="fa fa-check text-success"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="" ng-click="editUser(user)">
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="" ng-click="DeleteUser(user)">
                                                    <i class="fa fa-times" style="color: red" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <a href="">
                                                    <i class="fa fa-address-book" style="color: green" aria-hidden="true" ng-click="PhanQuyen(user)"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br />
                            <div style="margin-left:20px;">
                                <ul uib-pagination total-items="Chapters.length" ng-model="currentPage" items-per-page="pageSize"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

