

<link href="../../../Content/ckeditor.css" rel="stylesheet" />
<div class="main-panel" ng-controller="QuestionController">
    <nav class="navbar navbar-transparent navbar-absolute">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#!TypeQuestions"> <i class="fa fa-angle-double-left" aria-hidden="true"> </i> Chọn loại câu hỏi khác</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                            <span class="notification">5</span>
                            <i class="fa fa-comment-o" aria-hidden="true">5</i>

                        </a>

                    </li>

                </ul>
                <!--<form class="navbar-form navbar-right" role="search">
                    <div class="form-group  is-empty">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="material-input"></span>
                    </div>
                    <button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <div class="ripple-container"></div>
                    </button>
                </form>-->
            </div>
        </div>
    </nav>
    <br />
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header" data-background-color="blue">
                            <div class="row">
                                <div class="col-md-10">
                                    <h4 class="title">Câu hỏi chọn đáp án </h4>
                                </div>

                            </div>
                        </div>
                        <div class="card-content">
                            <form ng-submit="submit()">
                                <div class="row">
                                    <div>
                                        <div class="col-md-2" style="text-align: left">
                                            <label>Nội dung câu hỏi:</label>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea name="CauHoi"></textarea>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-1" style="text-align: right">
                                        <label>A:</label>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <textarea name="CauA"></textarea>
                                        </div>

                                    </div>
                                    <div class="col-md-2">
                                        <div class="checkbox" style="margin: 0; padding: 0;">
                                            <label style="margin: 0; padding: 0;">
                                                <input type="checkbox" id="CauAhv"><span class="checkbox-material"><span class="check"></span></span>
                                                Được hoán vị
                                            </label>
                                        </div>
                                        <div class="checkbox" style="margin: 0; padding: 0;">
                                            <label style="margin: 0; padding: 0;">
                                                <input type="checkbox" id="CauAda"><span class="checkbox-material"><span class="check"></span></span>
                                                Đáp án
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-1" style="text-align: right">
                                        <label>B:</label>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <textarea name="CauB"></textarea>
                                        </div>

                                    </div>
                                    <div class="col-md-2">
                                        <div class="checkbox" style="margin: 0; padding: 0;">
                                            <label style="margin: 0; padding: 0;">
                                                <input type="checkbox" id="CauBhv"><span class="checkbox-material"><span class="check"></span></span>
                                                Được hoán vị
                                            </label>
                                        </div>
                                        <div class="checkbox" style="margin: 0; padding: 0;">
                                            <label style="margin: 0; padding: 0;">
                                                <input type="checkbox" id="CauBda"><span class="checkbox-material"><span class="check"></span></span>
                                                Đáp án
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-1" style="text-align: right">
                                        <label>C:</label>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <textarea name="CauC"></textarea>
                                        </div>

                                    </div>
                                    <div class="col-md-2">
                                        <div class="checkbox" style="margin: 0; padding: 0;">
                                            <label style="margin: 0; padding: 0;">
                                                <input type="checkbox" id="CauChv"><span class="checkbox-material"><span class="check"></span></span>
                                                Được hoán vị
                                            </label>
                                        </div>
                                        <div class="checkbox" style="margin: 0; padding: 0;">
                                            <label style="margin: 0; padding: 0;">
                                                <input type="checkbox" id="CauCda"><span class="checkbox-material"><span class="check"></span></span>
                                                Đáp án
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-1" style="text-align: right">
                                        <label>D:</label>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="form-group">
                                            <textarea name="CauD"></textarea>
                                        </div>

                                    </div>
                                    <!--<div class="col-md-8">
                                        <div class="form-group" style="margin-top:0px;">
                                            <textarea class="form-control " ng-model="CauHoi.CauD" rows="2" placeholder="Đáp án D" style="border-bottom:1px;"></textarea>
                                        </div>
                                    </div>-->
                                    <div class="col-md-2">
                                        <div class="checkbox" style="margin: 0; padding: 0;">
                                            <label style="margin: 0; padding: 0;">
                                                <input type="checkbox" id="CauDhv"><span class="checkbox-material"><span class="check"></span></span>
                                                Được hoán vị
                                            </label>
                                        </div>
                                        <div class="checkbox" style="margin: 0; padding: 0;">
                                            <label style="margin: 0; padding: 0;">
                                                <input type="checkbox" id="CauDda"><span class="checkbox-material"><span class="check"></span></span>
                                                Đáp án
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <!--<div class="col-md-6" style="text-align: right">
                                            <label>Điểm</label>
                                        </div>-->
                                        <div class="col-md-5" style="text-align: right">
                                            <label>Điểm</label>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="form-group">
                                                <input type="number" class="form-control" ng-model="CauHoi.Diem" required="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-5" style="text-align: right">
                                            <label>Độ khó</label>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="form-group">
                                                <input type="number" class="form-control" ng-model="CauHoi.DoKho" max="1" min="0" required="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-5" style="text-align: right">
                                            <label>Độ phân cách</label>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="form-group">

                                                <input type="number" class="form-control" ng-model="CauHoi.DoPhanCach" placeholder="Độ phân cách" style="border-bottom: 1px;" max="1" min="0">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="row">
                                    <!--<button type="button" ng-click="addQuestion()" class="btn btn-primary pull-right">Thêm câu hỏi</button>-->
                                    <button type="submit" class="btn btn-primary btn-round pull-right">Thêm câu hỏi</button>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="../../../Content/ckeditor/ckeditor.js"></script>
<script src="../../../Content/ckfinder/ckfinder.js"></script>
<script src="../../../Content/ckeditor/adapters/jquery.js"></script>
<script>
    $(document).ready(function () {
        //CKEDITOR.disableAutoInline = true;
        CKEDITOR.replace('CauHoi');
        CKEDITOR.inline('CauA');
        CKEDITOR.inline('CauB');
        CKEDITOR.inline('CauC');
        CKEDITOR.inline('CauD');
        CKFinder.setupCKEditor(null, '/Content/ckfinder/');
        //$('#DapAnA1 div').attr({
        //    'id': 'DapAnA',
        //    'class': 'form-control'
        //});
        $('#CauAda').prop('checked', true);
        $('#CauAda').click(function () {

            if ($('#CauAda').is(':checked')) {
                $('#CauBda').prop('checked', false);
                $('#CauCda').prop('checked', false);
                $('#CauDda').prop('checked', false);
            } else {
                $('#CauAda').prop('checked', true);
            }
        });
        $('#CauBda').click(function () {
            if ($('#CauBda').is(':checked')) {
                $('#CauAda').prop('checked', false);
                $('#CauCda').prop('checked', false);
                $('#CauDda').prop('checked', false);
            } else {
                $('#CauAda').prop('checked', true);
            }
        });
        $('#CauCda').click(function () {
            if ($('#CauCda').is(':checked')) {
                $('#CauAda').prop('checked', false);
                $('#CauBda').prop('checked', false);
                $('#CauDda').prop('checked', false);
            } else {
                $('#CauAda').prop('checked', true);
            }
        });
        $('#CauDda').click(function () {
            if ($('#CauDda').is(':checked')) {
                $('#CauAda').prop('checked', false);
                $('#CauBda').prop('checked', false);
                $('#CauCda').prop('checked', false);
            } else {
                $('#CauAda').prop('checked', true);
            }
        });
    });


</script>