<div class="sidebar" data-color="blue" data-image="../Content/css/Images/sidebar-1.jpg" ng-controller="CheckDecentralization">
    <div class="logo">
        <a href="#!home" class="simple-text">
            Ngân Hàng Trắc Nghiệm
        </a>
        <div style="text-align: center">
            <label>
                Xin chào:
                {{username}}
            </label>
        </div>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav" ng-if="Admin==true" ng-model="Admin">
            <li>
                <a href="#!chapter">
                    <i class="fa fa-book" aria-hidden="true"></i> <b>Tạo đề thi</b>
                </a>
            </li>
            <li>
                <a href="#!ListQuestion">

                    <i class="fa fa-list-alt"></i> <b>Danh sách câu hỏi</b>
                </a>
            </li>
            <li>
                <a href="#!Dashboard">

                    <i class="fa fa-dashboard"></i> <b>Thống kê</b>
                </a>
            </li>
            <li>
                <a href="#!Faculties">
                    <i class="fa fa-table"></i><b>Danh Mục</b>
                </a>
            </li>
            <li>
                <a href="#!ListUser">
                    <i class="fa fa-table"></i><b>Phân Quyền</b>
                </a>
            </li>
            <li>
                <a href="" ng-click="Logout()">
                    <i class="fa fa-sign-out"></i><b>Đăng xuất</b>
                </a>
            </li>
        </ul>
        <ul class="nav" ng-if="Admin!=true" ng-model="Admin">
            <li>
                <a href="#!chapter">
                    <i class="fa fa-book" aria-hidden="true"></i> <b>Tạo đề thi</b>
                </a>
            </li>
            <li>
                <a href="#!ListQuestion">

                    <i class="fa fa-list-alt"></i> <b>Danh sách câu hỏi</b>
                </a>
            </li>
            <li ng-if="ThongKe==true" ng-model="ThongKe">
                <a href="#!Dashboard">

                    <i class="fa fa-dashboard"></i> <b>Thống kê</b>
                </a>
            </li>
            <li ng-if="DanhMuc==true" ng-model="DanhMuc">
                <a href="#!Faculties">
                    <i class="fa fa-table"></i><b>Danh Mục</b>
                </a>
            </li>
            <li ng-if="PhanQuyen==true" ng-model="PhanQuyen">
                <a href="#!ListUser">
                    <i class="fa fa-table"></i><b>Phân Quyền</b>
                </a>
            </li>
            <li>
                <a href="" ng-click="Logout()">
                    <i class="fa fa-sign-out"></i><b>Đăng xuất</b>
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="main">
    <div class="main-panel">
        <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#!TypeQuestions">thống kê</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                                <span class="notification">5</span>
                                <i class="fa fa-comment-o" aria-hidden="true">5</i>

                            </a>

                        </li>

                    </ul>
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group  is-empty">
                            <input type="text" class="form-control" placeholder="Search">
                            <span class="material-input"></span>
                        </div>
                        <button type="submit" class="btn btn-white btn-round btn-just-icon">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            <div class="ripple-container"></div>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="content" ng-controller="Dashboard_Subject">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <br />
                        <div class="card">
                            <div class="card-header" data-background-color="green">
                                <h4 class="title">Thống Kê Theo Khoa</h4>
                                <p class="category">Thống kê số lượng câu hỏi theo khoa</p>
                            </div>
                            <div class="card-content table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-warning">
                                    <th>Mã Phần</th>
                                    <th>Tên Phần</th>
                                    <th>Số Lượng câu hỏi</th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="FacultiesQuestion in FacultiesQuestions | startFrom: (currentPage-1)*pageSize | limitTo: pageSize">
                                            <td>{{FacultiesQuestion.Id}}</td>
                                            <td>{{FacultiesQuestion.Name}}</td>
                                            <td>{{FacultiesQuestion.NumberOfQuestion}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <br />
                            <div style="margin-left:20px;">
                                <ul uib-pagination total-items="FacultiesQuestions.length" ng-model="currentPage" items-per-page="pageSize"></ul>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <br />
                        <div class="card">
                            <div class="card-header" data-background-color="blue">
                                <h4 class="title">Biều Đồ</h4>
                                <p class="category">Biều đồ thể hiện tỉ lệ câu hỏi theo từng khoa</p>
                            </div>
                            <div class="card-content table-responsive">
                                <div id="chartContainer" style="height: 300px; width: 100%;"></div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>    
</div>

