

<link href="../../../Content/ckeditor.css" rel="stylesheet" />
<div class="sidebar" data-color="blue" data-image="../Content/css/Images/sidebar-1.jpg" ng-controller="CheckDecentralization">
    <div class="logo">
        <a href="#!home" class="simple-text">
            Ngân Hàng Trắc Nghiệm
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav" ng-if="Admin==true" ng-model="Admin">
            <li>
                <a href="#!chapter">
                    <i class="fa fa-book" aria-hidden="true"></i> <b>Tạo đề thi</b>
                </a>
            </li>
            <li>
                <a href="#!ListQuestion">

                    <i class="fa fa-list-alt"></i> <b>Danh sách câu hỏi</b>
                </a>
            </li>
            <li>
                <a href="#!Dashboard">

                    <i class="fa fa-dashboard"></i> <b>Thống kê</b>
                </a>
            </li>
            <li>
                <a href="#!Faculties">
                    <i class="fa fa-table"></i><b>Danh Mục</b>
                </a>
            </li>
            <li>
                <a href="#!ListUser">
                    <i class="fa fa-table"></i><b>Phân Quyền</b>
                </a>
            </li>
            <li>
                <a href="" ng-click="Logout()">
                    <i class="fa fa-sign-out"></i><b>Đăng xuất</b>
                </a>
            </li>
        </ul>
        <ul class="nav" ng-if="Admin!=true" ng-model="Admin">
            <li>
                <a href="#!chapter">
                    <i class="fa fa-book" aria-hidden="true"></i> <b>Tạo đề thi</b>
                </a>
            </li>
            <li>
                <a href="#!ListQuestion">

                    <i class="fa fa-list-alt"></i> <b>Danh sách câu hỏi</b>
                </a>
            </li>
            <li ng-if="ThongKe==true" ng-model="ThongKe">
                <a href="#!Dashboard">

                    <i class="fa fa-dashboard"></i> <b>Thống kê</b>
                </a>
            </li>
            <li ng-if="DanhMuc==true" ng-model="DanhMuc">
                <a href="#!Faculties">
                    <i class="fa fa-table"></i><b>Danh Mục</b>
                </a>
            </li>
            <li ng-if="PhanQuyen==true" ng-model="PhanQuyen">
                <a href="#!ListUser">
                    <i class="fa fa-table"></i><b>Phân Quyền</b>
                </a>
            </li>
            <li>
                <a href="" ng-click="Logout()">
                    <i class="fa fa-sign-out"></i><b>Đăng xuất</b>
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="main">
    <div class="main-panel" ng-controller="editQuestionController">
        <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="notification">5</span>
                                <i class="fa fa-comment-o" aria-hidden="true">5</i>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        <br />
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header" data-background-color="blue">
                                <div class="row">
                                    <div class="col-md-10">
                                        <h4 class="title">Quản lý câu hỏi</h4>
                                    </div>

                                </div>
                            </div>
                            <div class="card-content">

                                <div class="row">
                                    <div class="col-md-6">

                                        <div class="col-md-3">
                                            <label>Khoa</label>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <select required class="form-control" id="faculties" ng-model="$scope.Selected.FacultiesSelected" ng-change="SelectFacultie()">
                                                    <option value="" style="display: none;">Chọn Khoa</option>
                                                    <option ng-repeat="Khoa in Faculties" value="{{Khoa.Id}}">{{Khoa.Name}}</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-3">
                                            <label>Môn học</label>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <select required class="form-control" id="subjects" ng-model="$scope.Selected.SubjectsSelected" ng-change="SelectSubject()">
                                                    <option value="" style="display: none;">Chọn môn học</option>
                                                    <option ng-repeat="MonHoc in SubjectResult" value="{{MonHoc.Id}}">{{MonHoc.Name }}</option>
                                                </select>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-md-3">

                                            <label>Chương/phần</label>

                                        </div>
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <select required class="form-control" id="chapters" ng-model="$scope.Selected.ChapterSelected" ng-change="SelectChapter()">
                                                    <option value="" style="display: none;">Chọn phần</option>
                                                    <option ng-repeat="Phan in ChapterResult" value="{{Phan.Id}}">{{Phan.Name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-3">
                                            <div>
                                                <label>Từ ngày</label>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" uib-datepicker-popup ng-model="datatime1" is-open="popup1.opened" ng-required="true" close-text="Close" />
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <a><span ng-click="openDataPicker1()"><i class="fa fa-calendar"></i></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">


                                    <div class="col-md-6">
                                        <div class="col-md-3">
                                            <div>
                                                <label>Đến ngày</label>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="col-md-10">
                                                <div class="form-group">
                                                    <input type="text" class="form-control" uib-datepicker-popup ng-model="datatime2" is-open="popup2.opened" ng-required="true" close-text="Close" />
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <a><span ng-click="openDataPicker2()"><i class="fa fa-calendar"></i></span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <a href="" ng-click="Search()" style="margin-bottom: 0px" class="btn btn-primary btn-round pull-right">
                                            Tìm kiếm
                                            <div class="ripple-container"></div>
                                        </a>
                                    </div>
                                </div>
                                <br />
                                <br />
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <b style="font-size: 20px">
                                            Danh sách câu hỏi
                                        </b>
                                    </div>

                                    <br />
                                    <form>
                                        <table class="table table-hover">
                                            <tr>
                                                <th>
                                                    Mã câu hỏi
                                                </th>
                                                <th>
                                                    Chương phần
                                                </th>
                                                <th>
                                                    Nội dung
                                                </th>
                                                <th style="text-align: center">
                                                    Chỉnh sửa
                                                </th>
                                                <th>
                                                    Xóa
                                                </th>
                                            </tr>
                                            <tr ng-repeat="item in ListQuestions | startFrom: (currentPage-1)*pageSize | limitTo: pageSize |orderBy : 'Id'">

                                                <td>{{ item.Id }}</td>
                                                <td>{{ item.Name }}</td>
                                                <td>
                                                    <div>{{item.Content}}</div>
                                                </td>
                                                <td>
                                                    <a href="" ng-click="editQuestion(item.Id)">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="" ng-click="deleteQuestion(item.Id)">
                                                        <i class="fa fa-times" style="color: red" aria-hidden="true"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </form>
                                </div>
                                <div style="margin-left: 20px;">
                                    <ul uib-pagination total-items="ListQuestions.length" ng-model="currentPage" items-per-page="pageSize"></ul>
                                </div>
                                <br />
                                <br />

                            </div>


                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

    <link href="../../../Content/ckeditor.css" rel="stylesheet" />


    <script src="../../../Content/ckeditor/ckeditor.js"></script>
    <script src="../../../Content/ckfinder/ckfinder.js"></script>
    <script src="../../../Content/ckeditor/adapters/jquery.js"></script>
    <script>
        $(document).ready(function () {
            ////CKEDITOR.disableAutoInline = true;
            //CKEDITOR.replace('CauHoi');
            //CKEDITOR.inline('CauA');
            //CKEDITOR.inline('CauB');
            //CKEDITOR.inline('CauC');
            //CKEDITOR.inline('CauD');
            //CKFinder.setupCKEditor(null, '/Content/ckfinder/');

            $('#CauAda').prop('checked', true);
            $('#CauAda').click(function () {

                if ($('#CauAda').is(':checked')) {
                    $('#CauBda').prop('checked', false);
                    $('#CauCda').prop('checked', false);
                    $('#CauDda').prop('checked', false);
                } else {
                    $('#CauAda').prop('checked', true);
                }
            });
            $('#CauBda').click(function () {
                if ($('#CauBda').is(':checked')) {
                    $('#CauAda').prop('checked', false);
                    $('#CauCda').prop('checked', false);
                    $('#CauDda').prop('checked', false);
                } else {
                    $('#CauAda').prop('checked', true);
                }
            });
            $('#CauCda').click(function () {
                if ($('#CauCda').is(':checked')) {
                    $('#CauAda').prop('checked', false);
                    $('#CauBda').prop('checked', false);
                    $('#CauDda').prop('checked', false);
                } else {
                    $('#CauAda').prop('checked', true);
                }
            });
            $('#CauDda').click(function () {
                if ($('#CauDda').is(':checked')) {
                    $('#CauAda').prop('checked', false);
                    $('#CauBda').prop('checked', false);
                    $('#CauCda').prop('checked', false);
                } else {
                    $('#CauAda').prop('checked', true);
                }
            });
        });


    </script>
