<div class="main-panel">
    <nav class="navbar navbar-transparent navbar-absolute">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#!TypeQuestions">thống kê</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                            <span class="notification">5</span>
                            <i class="fa fa-comment-o" aria-hidden="true">5</i>

                        </a>

                    </li>

                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group  is-empty">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="material-input"></span>
                    </div>
                    <button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <div class="ripple-container"></div>
                    </button>
                </form>
            </div>
        </div>
    </nav>
    <div class="content" ng-controller="Subjects">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <br />
                    <div class="card">
                        <div class="card-header" data-background-color="blue">
                            <h4 class="title" ng-model="NameFaculties">Khoa {{NameFaculties}}</h4>
                            <p class="category">Danh sách môn của khoa {{NameFaculties}}</p>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table table-hover">
                                
                                <thead class="text-warning">
                                <th>Mã Môn</th>
                                <th>Tên Môn</th>
                                <th>Mã Khoa</th>
                                <th>Khóa</th>
                                <th>Ghi chú</th>
                                </thead>
                                <tbody>

                                    <tr ng-repeat="Subject in Subjects | startFrom: (currentPage-1)*pageSize | limitTo: pageSize" >
                                        <td>{{Subject.Id}}</td>
                                        <td>{{Subject.Name}}</td>
                                        <td>{{Subject.FacultyId}}</td>
                                        <td ng-if="Subject.Deleted=true">
                                            <i class="fa fa-check text-success"></i>
                                        </td>
                                        <td ng-if="Subject.Deleted!=true">
                                            <i class="fa fa-check text-danger"></i>
                                        </td>
                                        <td>{{Subject.Comment}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br />
                        <div style="margin-left:20px;">
                            <ul uib-pagination total-items="Subject.length" ng-model="currentPage" items-per-page="pageSize"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>