
<div class="main-panel" ng-controller="GetBasicController">
    <nav class="navbar navbar-transparent navbar-absolute">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">Thông tin đề thi</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                            <span class="notification">5</span>
                            <i class="fa fa-comment-o" aria-hidden="true">5</i>

                        </a>

                    </li>

                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group  is-empty">
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="material-input"></span>
                    </div>
                    <button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="fa fa-search" aria-hidden="true"></i>
                        <div class="ripple-container"></div>
                    </button>
                </form>
            </div>
        </div>
    </nav>
    <div class="content">
        <div class="container-fluid">

            <div class="row" >
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header" data-background-color="blue">
                            <h4 class="title">Thông tin đề thi</h4>
                            <p class="category">Vui lòng nhập đầy đủ thông tin để tạo đề thi !</p>
                        </div>
                        <div class="card-content">
                            <form>
                                <div class="row">
                                    <div class="col-md-6">

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label" style="font-size: 15px;">Cấp độ</label>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="form-group">

                                                <select class="form-control " name="class">
                                                    <option value="-1" disabled="" selected="" style="display: none;">Chọn cấp độ</option>
                                                    <option value="1">Tiêu học</option>
                                                    <option value="2">Trung học cơ sở</option>
                                                    <option value="3">Trung học phổ thông</option>
                                                    <option value="4">Lớp 4</option>

                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                   
                                    <div class="col-md-6">

                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label" style="font-size: 15px;">Khoa</label>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <select class="form-control" id="faculties" ng-model="$scope.Selected.FacultiesSelected" ng-change="SelectFacultie()">
                                                    <option value="0" disabled="" selected="" style="display: none;">Chọn Khoa</option>
                                                    <option ng-repeat="Khoa in Faculties" value="{{Khoa.Id}}">{{Khoa.Name}}</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>

                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label" style="font-size: 15px;">Môn học</label>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <select class="form-control" id="subjects" ng-model="$scope.Selected.SubjectsSelected" ng-change="SelectSubject()">
                                                    <option value="0" disabled="" selected="" style="display: none;">Chọn môn học</option>
                                                    <option ng-repeat="MonHoc in SubjectResult" value="{{MonHoc.Id}}">{{MonHoc.Name }}</option>
                                                </select>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label" style="font-size: 15px;">Chương/phần</label>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <select class="form-control" id="chapters" ng-model="$scope.Selected.ChapterSelected" ng-change="SelectChapter()">
                                                    <option value="0" disabled="" selected="" style="display: none;">Chọn phần</option>
                                                    <option ng-repeat="Phan in ChapterResult" value="{{Phan.Id}}">{{Phan.Name}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                </div>


                                <button type="submit" class="btn btn-primary pull-right">Tiếp tục >></button>

                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <!--<div class="row">

                <div >
                    <button type="button" ng-click="open()" class="btn btn-primary pull-right">Thêm câu hỏi</button>
                </div>

            </div>-->
        </div>
    </div>
</div>
