<div class="sidebar" data-color="blue" data-image="../Content/css/Images/sidebar-1.jpg" ng-controller="CheckDecentralization">
    <div class="logo">
        <a href="#!home" class="simple-text">
            Ngân Hàng Trắc Nghiệm
        </a>
        <div style="text-align: center">
            <label>
                Xin chào:
                {{username}}
            </label>
        </div>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav" ng-if="Admin==true" ng-model="Admin">
            <li>
                <a href="#!chapter">
                    <i class="fa fa-book" aria-hidden="true"></i> <b>Tạo đề thi</b>
                </a>
            </li>
            <li>
                <a href="#!ListQuestion">
                    <i class="fa fa-list-alt"></i> <b>Danh sách câu hỏi</b>
                </a>
            </li>
            <li>
                <a href="#!Dashboard">

                    <i class="fa fa-dashboard"></i> <b>Thống kê</b>
                </a>
            </li>
            <li>
                <a href="#!Faculties">
                    <i class="fa fa-table"></i><b>Danh Mục</b>
                </a>
            </li>
            <li>
                <a href="#!ListUser">
                    <i class="fa fa-table"></i><b>Phân Quyền</b>
                </a>
            </li>
            <li>
                <a href="" ng-click="Logout()">
                    <i class="fa fa-sign-out"></i><b>Đăng xuất</b>
                </a>
            </li>
        </ul>
        <ul class="nav" ng-if="Admin!=true" ng-model="Admin">
            <li>
                <a href="#!chapter">
                    <i class="fa fa-book" aria-hidden="true"></i> <b>Tạo đề thi</b>
                </a>
            </li>
            <li>
                <a href="#!ListQuestion">

                    <i class="fa fa-list-alt"></i> <b>Danh sách câu hỏi</b>
                </a>
            </li>
            <li ng-if="ThongKe==true" ng-model="ThongKe">
                <a href="#!Dashboard">

                    <i class="fa fa-dashboard"></i> <b>Thống kê</b>
                </a>
            </li>
            <li ng-if="DanhMuc==true" ng-model="DanhMuc">
                <a href="#!Faculties">
                    <i class="fa fa-table"></i><b>Danh Mục</b>
                </a>
            </li>
            <li ng-if="PhanQuyen==true" ng-model="PhanQuyen">
                <a href="#!ListUser">
                    <i class="fa fa-table"></i><b>Phân Quyền</b>
                </a>
            </li>
            <li>
                <a href="" ng-click="Logout()">
                    <i class="fa fa-sign-out"></i><b>Đăng xuất</b>
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="main">
    <div class="main-panel">
        <br />
        <div class="content">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header" data-background-color="blue">
                                <h4 class="title">Thông tin đề thi</h4>
                                <p class="category">Vui lòng nhập đầy đủ thông tin để tạo đề thi !</p>
                            </div>
                            <div class="card-content">
                                <br />
                                <br />
                                <div class="col-md-4">
                                    <div class="card card-profile">
                                        <div class="card-avatar">
                                            <br />
                                            <img class="img" src="../../../Content/css/Images/upload.jpg" />
                                        </div>

                                        <div class="content">
                                            <br />
                                            <h4 class="card-title">Tải đề thi</h4>
                                            <br />
                                            <p class="card-content">
                                                Chuẩn bị câu hỏi và đề thi theo mẫu quy định. chúng tôi sẽ thay bạn tạo các câu hỏi
                                            </p>
                                            <br />
                                            <br />
                                            <a href="#!addfile" class="btn btn-primary btn-round">Tải đề</a>
                                            <br />
                                        </div>
                                        <br />
                                        <br />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-profile">
                                        <div class="card-avatar">
                                            <br />
                                            <img src="../../../Content/css/Images/Listqs.jpg" />
                                        </div>

                                        <div class="content">
                                            <br />
                                            <h4 class="card-title">Câu hỏi đơn</h4>
                                            <br />
                                            <p class="card-content">
                                                Câu hỏi đơn là câu hỏi có đề bài và bốn đáp án ABCD theo mẫu. Người dùng cần điền đầy đủ thông tin để tạo câu hỏi
                                            </p>
                                            <br />
                                            <a href="#!addQuestion" class="btn btn-primary btn-round">Tạo câu hỏi</a>
                                        </div>
                                        <br />
                                        <br />
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="card card-profile">
                                        <div class="card-avatar">
                                            <br />
                                            <img src="../../../Content/css/Images/question.png" />
                                        </div>

                                        <div class="content">
                                            <br />
                                            <h4 class="card-title">Câu hỏi nhóm</h4>
                                            <br />
                                            <p class="card-content">
                                                Câu hỏi nhóm là dạng câu hỏi có một đề bài và nhiều câu hỏi con liên quan đến đề bài đó.
                                            </p>
                                            <br />
                                            <br />
                                            <a href="#!GroupQuestion" class="btn btn-primary btn-round">Tạo câu hỏi</a>
                                        </div>
                                        <br />
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
