@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ngân hàng trắc nghiệm</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <div ng-view></div>
    @Scripts.Render("~/bundles/JS")
    @Scripts.Render("~/bundles/Angular")
</body>
</html>
