@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ngân hàng trắc nghiệm</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <div class="sidebar" data-color="blue" data-image="../Content/css/Images/sidebar-1.jpg">
        <div class="logo">
            <a href="#!home" class="simple-text">
                Ngân Hàng Trắc Nghiệm
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li>
                    <a href="#!chapter">
                        <i class="fa fa-book" aria-hidden="true"></i>Tạo đề thi
                       
                    </a>
                </li>
                @*<li>
                    <a href="#!addfile">
                        <i class="fa fa-file-archive-o" aria-hidden="true"></i>Tải đề thi
                    </a>
                </li>
                <li>
                    <a href="#!addQuestion">
                        <i class="fa fa-shield"></i> Thêm câu hỏi đơn
                    </a>
                </li>*@
                @*<li>
                    <a href="#!GroupQuestion">
                        <i class="fa fa-shield"></i> Thêm câu hỏi nhóm
                    </a>
                </li>*@
                <li>
                    <a href="#!ListQuestion">

                        <i class="fa fa-list-alt"></i> Danh sách câu hỏi
                    </a>
                </li>
                <li>
                    <a href="#!Dashboard">

                        <i class="fa fa-list-alt"></i> Thống kê
                    </a>
                </li>
            </ul>

        </div>
     

    </div>
    <div id="main">

        <div ng-view></div>

    </div>
    @Scripts.Render("~/bundles/JS")
    @Scripts.Render("~/bundles/Angular")
</body>
</html>
