@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ngân hàng trắc nghiệm</title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
</head>
<body>
    <div ng-controller="checklogin">
        <div >
            <div class="sidebar" data-color="blue" data-image="../Content/css/Images/sidebar-1.jpg">
                <div class="logo">
                    <a href="#!home" class="simple-text">
                        Ngân Hàng Trắc Nghiệm
                    </a>
                </div>
                <div class="sidebar-wrapper">
                    <ul class="nav">
                        <li>

                            <a href="#!chapter">
                                <i class="fa fa-book" aria-hidden="true"></i> <b>Tạo đề thi</b>

                            </a>
                        </li>

                        <li>
                            <a href="#!ListQuestion">

                                <i class="fa fa-list-alt"></i> <b>Danh sách câu hỏi</b>
                            </a>
                        </li>
                        <li>
                            <a href="#!Dashboard">

                                <i class="fa fa-dashboard"></i> <b>Thống kê</b>
                            </a>
                        </li>
                        <li>
                            <a href="#!Faculties">
                                <i class="fa fa-table"></i><b>Danh Mục</b>
                            </a>
                        </li>
                        <li>
                            <a href="#!ListUser">
                                <i class="fa fa-table"></i><b>Phân Quyền</b>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
       
    </div>
    
    <div id="main">

        <div ng-view></div>

    </div>
    @Scripts.Render("~/bundles/JS")
    @Scripts.Render("~/bundles/Angular")
</body>
</html>
